.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/IMG_20201018_103125_985\ \(1\).jpg') center top;
    background-size: contain;
    background-repeat: no-repeat;
  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
h2 {
  line-height: .5rem;
  margin-top: 1rem;
}
.hng-container {
  margin-top: 4rem;
  padding: 2rem;
}
.hng {
  width: 3em;
  margin-top: 2rem;
}
.hng-site {
  color: $secondary-color;
  font-weight: 700;
}